site_name: Cut Object for Magnets - FreeCAD Macro
site_description: A FreeCAD macro that cuts 3D objects along a plane and adds aligned magnet holes with surface collision detection
site_url: https://spkane.github.io/freecad-macro-cut-for-magnets
repo_url: https://github.com/spkane/freecad-macro-cut-for-magnets
repo_name: spkane/freecad-macro-cut-for-magnets

theme:
  name: material
  custom_dir: docs/overrides
  palette:
    # Dark mode as default
    - scheme: slate
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - toc.follow
    - search.suggest
    - search.highlight
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - def_list
  - tables
  - toc:
      permalink: true
      toc_depth: 3

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
  - minify:
      minify_html: true
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      width: 100%
      height: auto
      zoomable: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/spkane/freecad-macro-cut-for-magnets

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage Guide: usage.md
  - Parameters: parameters.md
  - Troubleshooting: troubleshooting.md
  - Contributing: contributing.md
  - Changelog: changelog.md
